# Загрузка и предобработка данных

In [16]:
import numpy
import pandas
import matplotlib.pyplot as pyplot

%matplotlib inline
data_folder = "./data/"

Загрузим age_profile_train (['id', 'age'])

In [12]:
age_profile_train = pandas.read_csv(data_folder + 'age_profile_train', sep = '\t', header = None)
age_profile_train.columns = ['id', 'age']
age_profile_train.head()

                                 id  age
0  000000013CB5719C0000A2C90002C101   53
1  00000001442BE24000001B7D00F50801   48
2  00000001448580F800003F1B31FB0901   28
3  0000000145BDB2FF000157971645E901   44
4  000000014602771F0000DB9359714C01   48

Построим словарь id -> age

In [13]:
id_age_train = dict(age_profile_train.values)
id_age_train.items()[:5]

[('00000BBC56F4CFF0A671AB95000CCD01', 47),
 ('0600856656CF174400006DD155395601', 31),
 ('0000004656F090D174F93BBC56688C01', 27),
 ('00000046568FD4107BCF57773C5E7F01', 31),
 ('00000001494FA563241913C91D6FA201', 51)]

Загрузим title_unify_train (['id', 'title', 'count'])

In [17]:
title_unify_train = pandas.read_csv(data_folder + 'title_unify_train', sep = '\t', header = None)
title_unify_train.columns = ['id', 'title', 'count']
title_unify_train.head()

,id,title,count
0,000000014B6D41C13D777E8314725401,коляна лента прикол,1
1,0000000150707ACB8A82451C0307BC01,candi410 rambler ru входящая рамблер-почта,1
2,0000000150707ACB8A82451C0307BC01,cosmopolitan витамин волос для женщина журнал ...,1
3,0000000150707ACB8A82451C0307BC01,realbox бокс для интернет-магазин страница тов...,1
4,0000000150707ACB8A82451C0307BC01,realbox бокс для интернет-магазин товар экипир...,2

Загрузим title_unify_test (['id', 'title', 'count'])

In [20]:
title_unify_test = pandas.read_csv(data_folder + 'title_unify_test', sep = '\t', header = None)
title_unify_test.columns = ['id', 'title', 'count']
title_unify_test.head()

,id,title,count
0,0000000151790DCC1E8322AF0B6FA701,20-километровый амур китай мост недвижимость п...,2
1,0000000151790DCC1E8322AF0B6FA701,24-х 34-х до договор неделя новость предложить...,1
2,0000000151790DCC1E8322AF0B6FA701,3xl armour compress heatgear long size sleev s...,1
3,0000000151790DCC1E8322AF0B6FA701,4-е ca зачёт медальный место новость ои-2012 п...,1
4,0000000151790DCC1E8322AF0B6FA701,4-колёсный moi-bebik oregon oscar ru коляска к...,1

Загрузим url_domain_test (['id', 'url', 'count'])

In [22]:
url_domain_test = pandas.read_csv(data_folder + 'url_domain_test', sep = '\t', header = None)
url_domain_test.columns = ['id', 'url', 'count']
url_domain_test.head()

                                 id                          url  count
0  0000000151004FF4ADD746DA10685A01                    afisha.ru      2
1  0000000151004FF4ADD746DA10685A01                       aif.ru      1
2  0000000151004FF4ADD746DA10685A01  aimfar.solution.weborama.fr      1
3  0000000151004FF4ADD746DA10685A01                  alkotest.ru      1
4  0000000151004FF4ADD746DA10685A01                 aptekamos.ru      1

Загрузим url_domain_train(['id', 'url', 'count'])

In [24]:
url_domain_train = pandas.read_csv(data_folder + 'url_domain_train', sep = '\t', header = None)
url_domain_train.columns = ['id', 'url', 'count']
url_domain_train.head()

                                 id                  url  count
0  000000014B60815F65B38258011B6C01  login.rutracker.org      1
1  000000014B60815F65B38258011B6C01        rutracker.org      4
2  000000014C03DA2A47AC433A0C755201   admin.tour-spb.net      1
3  000000014C03DA2A47AC433A0C755201            czinfo.ru      1
4  000000014C03DA2A47AC433A0C755201       forumsostav.ru      1

Объединим train и test в один датафрейм

In [32]:
print age_profile_train.shape
print title_unify_train.shape
print url_domain_train.shape

(118679, 2)
(5850389, 3)
(2046869, 3)

In [36]:
train_and_test_title_unify = pandas.DataFrame(numpy.vstack([title_unify_train.values, title_unify_test.values]))
train_and_test_title_unify.columns = ['id', 'title', 'count']
train_and_test_title_unify.head()

,id,title,count
0,000000014B6D41C13D777E8314725401,коляна лента прикол,1
1,0000000150707ACB8A82451C0307BC01,candi410 rambler ru входящая рамблер-почта,1
2,0000000150707ACB8A82451C0307BC01,cosmopolitan витамин волос для женщина журнал ...,1
3,0000000150707ACB8A82451C0307BC01,realbox бокс для интернет-магазин страница тов...,1
4,0000000150707ACB8A82451C0307BC01,realbox бокс для интернет-магазин товар экипир...,2

Построим по данному датафрейму sparse matrix по всем словам из title, используя TfidfVectorizer

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features = 10000)

In [38]:
%%time
group_by_id = train_and_test_title_unify.groupby('id')['title'].apply(lambda x: x.tolist())
print type(group_by_id), group_by_id.shape

<class 'pandas.core.series.Series'> (134116,)
CPU times: user 16 s, sys: 580 ms, total: 16.6 s
Wall time: 17 s

In [39]:
group_by_id1 = zip(group_by_id.keys(), group_by_id.values)
print len(group_by_id1), len(group_by_id1[0])

134116 2

In [43]:
group_by_id1.sort(key = lambda x: x[0] in id_age_train, reverse = True)
for i in range(len(group_by_id1)):
    if group_by_id1[i][0] not in id_age_train:
        print i
        real_train_size = i
        break

114156

In [44]:
%%time
vectorized_data = vectorizer.fit_transform([''.join(x[1]) for x in group_by_id1])
print vectorized_data.shape
features = vectorizer.vocabulary_

(134116, 10000)
CPU times: user 2min 2s, sys: 2.98 s, total: 2min 5s
Wall time: 2min 50s

### Обучение моделей

Создадим массивы X_train и y_train

In [47]:
y_train = [id_age_train[group_by_id1[i][0]] for i in range(real_train_size)]
y_train[:5]

[53, 48, 28, 44, 48]

In [49]:
X_train = vectorized_data[:real_train_size]
print X_train.shape[0], len(y_train)

114156 114156

### Xgboost

In [50]:
import xgboost

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [53]:
params = {'max_depth':3, 'booster':'gbtree', 'eval_metric':'rmse', 'eta':0.1}
rounds_count = 300

In [55]:
%%time
X_data_train = xgboost.DMatrix(data = X_train, label = y_train)
X_data_test = xgboost.DMatrix(data = X_train, label = y_train)

params_list = list(params.items())
watch_list = [(X_data_train, 'train'), (X_data_test, 'eval')]            

bst = xgboost.train(params_list, X_data_train, rounds_count, evals = watch_list, verbose_eval = 5)

[0]	train-rmse:34.4588	eval-rmse:34.4588
[5]	train-rmse:22.6094	eval-rmse:22.6094
[10]	train-rmse:16.5608	eval-rmse:16.5608
[15]	train-rmse:13.8185	eval-rmse:13.8185
[20]	train-rmse:12.7006	eval-rmse:12.7006
[25]	train-rmse:12.2662	eval-rmse:12.2662
[30]	train-rmse:12.0928	eval-rmse:12.0928
[35]	train-rmse:12.0151	eval-rmse:12.0151
[40]	train-rmse:11.9757	eval-rmse:11.9757
[45]	train-rmse:11.9482	eval-rmse:11.9482
[50]	train-rmse:11.9274	eval-rmse:11.9274
[55]	train-rmse:11.909	eval-rmse:11.909
[60]	train-rmse:11.8913	eval-rmse:11.8913
[65]	train-rmse:11.8765	eval-rmse:11.8765
[70]	train-rmse:11.8627	eval-rmse:11.8627
[75]	train-rmse:11.8493	eval-rmse:11.8493
[80]	train-rmse:11.8355	eval-rmse:11.8355
[85]	train-rmse:11.8225	eval-rmse:11.8225
[90]	train-rmse:11.8112	eval-rmse:11.8112
[95]	train-rmse:11.8002	eval-rmse:11.8002
[100]	train-rmse:11.7897	eval-rmse:11.7897
[105]	train-rmse:11.7784	eval-rmse:11.7784
[110]	train-rmse:11.7686	eval-rmse:11.7686
[115]	train-rmse:11.7578	eval-rmse:11.7578
[120]	train-rmse:11.7477	eval-rmse:11.7477
[125]	train-rmse:11.7387	eval-rmse:11.7387
[130]	train-rmse:11.7299	eval-rmse:11.7299
[135]	train-rmse:11.7212	eval-rmse:11.7212
[140]	train-rmse:11.7131	eval-rmse:11.7131
[145]	train-rmse:11.7048	eval-rmse:11.7048
[150]	train-rmse:11.6966	eval-rmse:11.6966
[155]	train-rmse:11.6894	eval-rmse:11.6894
[160]	train-rmse:11.6814	eval-rmse:11.6814
[165]	train-rmse:11.6738	eval-rmse:11.6738
[170]	train-rmse:11.6666	eval-rmse:11.6666
[175]	train-rmse:11.658	eval-rmse:11.658
[180]	train-rmse:11.6511	eval-rmse:11.6511
[185]	train-rmse:11.6441	eval-rmse:11.6441
[190]	train-rmse:11.6373	eval-rmse:11.6373
[195]	train-rmse:11.6304	eval-rmse:11.6304
[200]	train-rmse:11.6241	eval-rmse:11.6241
[205]	train-rmse:11.6176	eval-rmse:11.6176
[210]	train-rmse:11.6106	eval-rmse:11.6106
[215]	train-rmse:11.6045	eval-rmse:11.6045
[220]	train-rmse:11.597	eval-rmse:11.597
[225]	train-rmse:11.5907	eval-rmse:11.5907
[230]	train-rmse:11.5849	eval-rmse:11.5849
[235]	train-rmse:11.5787	eval-rmse:11.5787
[240]	train-rmse:11.5733	eval-rmse:11.5733
[245]	train-rmse:11.5667	eval-rmse:11.5667
[250]	train-rmse:11.5609	eval-rmse:11.5609
[255]	train-rmse:11.5556	eval-rmse:11.5556
[260]	train-rmse:11.5495	eval-rmse:11.5495
[265]	train-rmse:11.5435	eval-rmse:11.5435
[270]	train-rmse:11.5385	eval-rmse:11.5385
[275]	train-rmse:11.5332	eval-rmse:11.5332
[280]	train-rmse:11.5282	eval-rmse:11.5282
[285]	train-rmse:11.5229	eval-rmse:11.5229
[290]	train-rmse:11.5174	eval-rmse:11.5174
[295]	train-rmse:11.5121	eval-rmse:11.5121
CPU times: user 27min 18s, sys: 4.15 s, total: 27min 22s
Wall time: 7min 42s

### Отправка решения

In [56]:
answer_ages = bst.predict(xgboost.DMatrix(vectorized_data[real_train_size:]))

In [57]:
Ids = [x[0] for x in group_by_id1]
print Ids[:10]

['000000013CB5719C0000A2C90002C101', '00000001442BE24000001B7D00F50801', '00000001448580F800003F1B31FB0901', '0000000145BDB2FF000157971645E901', '000000014602771F0000DB9359714C01', '0000000147B2D6F311DB5C4201B7FB01', '0000000147C68954150168D701A8B801', '0000000147EB76D738CD80750C879701', '00000001482AAFB69FA5228008AC2A01', '0000000148390BB56A6B22BB178D3901']

In [58]:
test_urls = pandas.read_csv(data_folder + 'url_domain_test', sep = '\t', header = None)
test_urls.columns = ['id', 'url', 'count']

In [59]:
test_urls.head()

                                 id                          url  count
0  0000000151004FF4ADD746DA10685A01                    afisha.ru      2
1  0000000151004FF4ADD746DA10685A01                       aif.ru      1
2  0000000151004FF4ADD746DA10685A01  aimfar.solution.weborama.fr      1
3  0000000151004FF4ADD746DA10685A01                  alkotest.ru      1
4  0000000151004FF4ADD746DA10685A01                 aptekamos.ru      1

In [64]:
missed_ids = set(list(test_urls['id'].values)) - set(list(group_by_id.keys()))
print missed_ids

set(['060458FC4F26763C00000F979D2A7E01', '060E6C2B503325370000837052DE5001', '0000004654A10B824C165A466C168201', '05F9DAFE4E0C341900008CF2B767AF01', '000000465705245378FF65D832218001', '06134823531743F900004AC41E17E101', '0000004656F1981B1AA7519B68928301', '05F9DAFE4D3838F50000024A4318F701', '000000465704F25A438B05242F511001', '05F9DAFE4E09AA770000DDF2A270B501', '000000465684B22F9C5E2F5092605901', '0000042E5705589889C7137F36D41301', '00000046546F3F721C92663B86D4EE01', '000000465705212A890F65E12F997E01', '00000046569323B3B9B443367DC16401', '0000004656C8659C34EC56F3481DC101', '0000004657049E1AA4A453852830FA01', '05F9DAFE4E254F2B0000DDF205C6D101', '0000004654B561B02F4A0174E0EC2001'])

In [65]:
missed = numpy.array(zip(missed_ids, [0] * len(missed_ids)))
print missed.shape

(19, 2)

In [66]:
answer_df = pandas.DataFrame(columns = ['id', 'age'])
answer_df['id'] = Ids[real_train_size:]
answer_df['age'] = answer_ages
print answer_df.shape
answer_df = pandas.DataFrame(numpy.vstack((answer_df.values, missed)))
answer_df.columns = ['id', 'age']
answer_df.head()

(19960, 2)

                                 id      age
0  000000014A02348E701552980349FF01  43.1339
1  000000014A10EA183BF8594A0B2AB201  40.1764
2  000000014A4FE5C33A929D4C26943601  34.0603
3  000000014B7BB9957784A9BC0AC9F401  32.0664
4  000000014C7749F896D82C2B01E8B801  35.2443

In [67]:
print answer_df.shape

(19979, 2)

In [68]:
answer_df.to_csv(data_folder + 'xgboost_solution.csv', index = False)